<h2>Sub category list</h2>
<%= link_to "Add sub category", new_sub_category_path %>
<ol>
	<% @sub_categories.each do |sub_category| %>
		<li><%= link_to sub_category.name, sub_category_path(sub_category.id) %></li>
	<% end %>
</ol>